  <header>
      <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="img\icon.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Lady Pizza
    </a>
    <a> Home</a>
  </div>
</nav>
<div class="container-sm d-block"> 
    <div class="col-12">
    <img src="/img/La-margherita.jpg" class="img-fluid" alt="Pizzas" style="">
</div>

</div>

<section>

</section>

  </header>
  <main>
      @RenderBody();
  </main>